        .hero-container{
            display: flex;
            gap: 30px;
            border-radius: 20px;
            align-items: center;
            background-color: rgb(156, 253, 147);
            text-align: justify;
            margin-left: 20px;
        }
    .hero-container img{
        width: 100%;
        height: 600px;
        padding: 25px;
        border-radius: 25px;
        border: 20px solid rgb(49, 0, 171);

        
    }
    body{
        max-width: 1270px;
         background-color: rgb(241, 182, 182);
         margin: auto;

    }
.hero-container button{
    text-decoration: none;
    background-color: rgb(255, 140, 0);
    font-size: 1.25em;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
     
}
    
    #padd{
        padding: 30px;
    }
.hero-container button:hover{
    background-color: rgb(255, 75, 75);
    text-decoration: none ;
    
}