body{
    max-width: 1170px;
    background-color: rgb(247, 228, 217);
    margin: 0, auto;

}

.card-container{
     display: flex;
     gap: 20px;
     flex-wrap: wrap;

}


.card{
width: 300px;
height: 550px;
border: 2px solid saddlebrown ;
border-radius: 10px;
padding: 10px;
box-shadow: 10px 10px 10px rgb(109, 109, 109);
}
.card-section{
    text-align: center;
}
.card-container{
     display: flex;
     gap: 20px;
     flex-wrap: wrap;

}

.card h3{
    font-size: 1.25em;
    font-weight: 700;
}
.card img{

width: 100%;
border-radius: 10px;
}
.card button{

   
    background-color: rgb(255, 140, 0);
    font-size: 1.25em;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.card button:hover{
    background-color: chartreuse;
}
.card:hover{
    background-color: gold;
}